name: Go

on:
  push:
    branches:
      - main
      - v5
  pull_request:
    branches:
      - main
      - v5

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: 1.21.1

      - name: Get version
        run: echo "VERSION=${GITHUB_REF_NAME}-${GITHUB_RUN_NUMBER}" >> $GITHUB_ENV

      - name: Build
        run: ./go-executable-build.bash ${VERSION}

      - if: ${{ github.event_name != 'pull_request' }}
        name: Yontrack setup
        run: |
          ./ontrack-cli-linux-amd64 config create \
              local \
              ${{ vars.YONTRACK_DEMO_URL }} \
              --token ${{ secrets.YONTRACK_DEMO_TOKEN }}
          
          ./ontrack-cli-linux-amd64 ci config \
            --graphql-log \
            --env-all GITHUB_ \
            --env-all VERSION \
            --output env > .yontrack.env
          
          grep -v '^#' .yontrack.env | grep -v '^$' | sed 's/^export //' >> $GITHUB_ENV

      - if: ${{ github.event_name != 'pull_request' }}
        name: Yontrack validation
        run: |
          ./ontrack-cli-linux-amd64 validate \
            --validation BUILD \
            --status PASSED

      - id: test
        name: Test
        run: go test -v ./...

      - if: ${{ always() && github.event_name != 'pull_request' }}
        name: Yontrack validation
        run: |
          ./ontrack-cli-linux-amd64 validate \
            --validation TESTS \
            --status ${{ steps.test.outcome == 'success' && 'PASSED' || 'FAILED' }}
