name: Release

on:
  push:
    tags:
      - "*"

jobs:

  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: 1.21.1

      - name: Get version
        run: echo "VERSION=${GITHUB_REF#refs/tags/}" >> $GITHUB_ENV

      - name: Yontrack setup
        run: |
          COMMIT=$(git rev-parse $VERSION)
          
          ./yontrack-linux-amd64 config create \
              local \
              ${{ vars.YONTRACK_DEMO_URL }} \
              --token ${{ secrets.YONTRACK_DEMO_TOKEN }}
          
          ./yontrack-linux-amd64 build search \
            --project ontrack-cli \
            --commit $COMMIT \
            --count 1 \
            --output env > .yontrack.env
          
          grep -v '^#' .yontrack.env | grep -v '^$' | sed 's/^export //' >> $GITHUB_ENV
    
      - name: Displays version and build
        run: |
          echo VERSION=${VERSION}
          echo YONTRACK_PROJECT_NAME=$YONTRACK_PROJECT_NAME
          echo YONTRACK_BRANCH_NAME=$YONTRACK_BRANCH_NAME
          echo YONTRACK_BUILD_NAME=$YONTRACK_BUILD_NAME

      - name: Build packages
        run: ./go-executable-build.bash ${VERSION}

    # - name: Change log since last release
    #   # TODO Use a built-in action
    #   run: |
    #     LAST_RELEASE=`yontrack build search --project ${{ steps.ontrack.outputs.project }} --branch $BRANCH --with-promotion RELEASE --count 1 --display-id`
    #     echo LAST_RELEASE=$LAST_RELEASE
    #     if [ $LAST_RELEASE != "" ]
    #     then
    #       LOG=`yontrack build changelog export --from $LAST_RELEASE --to $BUILD_ID --grouping "Features=feature|Enhancements=enhancement|Bugs=bug"`
    #     else
    #       LOG=""
    #     fi
    #     echo LOG=$LOG
    #     echo "LOG=$LOG" >> $GITHUB_ENV

      - name: Release
        uses: softprops/action-gh-release@v2.4.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          draft: true # TODO Set to true when ready
          body: |
            Version ${{ env.VERSION }}
  
            ${{ env.LOG }}
          files: yontrack-*

#    - name: Release marker in Ontrack
#      run: |
#        yontrack build set-property --project ${{ steps.ontrack.outputs.project }} --branch $BRANCH --build $BUILD release $VERSION
