name: Release

on:
  push:
    tags:
      - "*"

jobs:

  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: 1.21.1

      - name: Get version
        run: echo "VERSION=${GITHUB_REF#refs/tags/}" >> $GITHUB_ENV

      - name: Build packages
        run: |
          ./go-executable-build.bash ${VERSION}
          cp yontrack-linux-amd64 yontrack

      - name: Yontrack setup
        run: |
          COMMIT=$(git rev-parse $VERSION)
          
          ./yontrack-linux-amd64 config create \
              local \
              ${{ vars.YONTRACK_DEMO_URL }} \
              --token ${{ secrets.YONTRACK_DEMO_TOKEN }}
          
          ./yontrack-linux-amd64 build search \
            --project ontrack-cli \
            --commit $COMMIT \
            --count 1 \
            --output env > .yontrack.env
          
          grep -v '^#' .yontrack.env | grep -v '^$' | sed 's/^export //' >> $GITHUB_ENV
    
      - name: Displays version and build
        run: |
          echo VERSION=${VERSION}
          echo YONTRACK_PROJECT_NAME=$YONTRACK_PROJECT_NAME
          echo YONTRACK_BRANCH_NAME=$YONTRACK_BRANCH_NAME
          echo YONTRACK_BUILD_NAME=$YONTRACK_BUILD_NAME

      - name: Change log since last release
        run: |
          ./yontrack build changelog export \
            --from-promotion RELEASE \
            --to $YONTRACK_BUILD_ID \
            --format markdown \
            --grouping "Features=feature|Enhancements=enhancement|Bugs=bug" > .yontrack.log.md
          
          echo "LOG<<EOF" >> $GITHUB_ENV
          cat .yontrack.log.md >> $GITHUB_ENV
          echo "EOF" >> $GITHUB_ENV

      - name: Release
        uses: softprops/action-gh-release@v2.4.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          draft: true # TODO Set to true when ready
          body: |
            Version ${{ env.VERSION }}
  
            ${{ env.LOG }}
          files: yontrack-*

      - name: Release validation
        run: |
          # Release validation
          ./yontrack validate --validation GITHUB.RELEASE --status PASSED
          # Release label in Ontrack
          ./yontrack build set-property release $VERSION
